swagger: '2.0'

############################################################################
#                            API Information                               #
############################################################################
info:
  description: 'API e-Commerce Compra Fácil.'
  version: 1.0.0
  title: 'e-Commerce Compra Fácil'
  contact:
    email: equipe1@g.unicamp.br
host: comprafacil.com.br
basePath: /v1

############################################################################
#                                   TAGS                                   #
############################################################################
tags:
  - name: produtos
    description: Realiza as operações relacionadas aos produtos
  - name: afiliados
    description: Realiza as operações relacionadas às afiliações
schemes:
  - http

############################################################################
#                                     Paths                                #
############################################################################

#### Produtos
paths:
  /produtos/{id}:
    get:
      tags:
        - produtos
      summary: busca por produto de acordo com seu id 
      description: 'Permite a busca por produtos cadastrados e-Commerce, de acordo com seu id. '
      operationId: buscaProdutoId
      produces:
        - application/json
      parameters:
        - name: id
          in: "path"
          description: id do produto que se quer buscar
          required: true
          type: string
      responses:
        200:
          description: 'Busca realizada com sucesso'
          schema:
            $ref: '#/definitions/Produtos'
        400:
          description: 'A requisição não pôde processada pelo servidor devido a um erro no cliente.'
          schema:
            $ref: '#/definitions/BadRequest'
        401:
          description: 'Usuário não autenticado para realizar a operação'
          schema:
            $ref: '#/definitions/Unauthorized'
        403:
          description: 'Usuário não possui permissão para criar uma afiliação'
          schema:
            $ref: '#/definitions/Forbidden'
        408:
          description: 'Tempo excedido'
          schema:
            $ref: '#/definitions/Timeout'
        429:
          description: 'Usuário submeteu muitas requisições em um intervalo de tempo'
          schema:
            $ref: '#/definitions/TooManyResquests'
        500:
          description: 'Erro inesperado'
          schema:
            $ref: '#/definitions/InternalServerError'
        503:
          description: 'Serviço indisponível'
          schema:
            $ref: '#/definitions/Unavailable'
#### Afiliados
  /afiliados/criar:
    post:
      tags:
        - afiliados
      summary: Cria uma afiliação
      description: 'Permite a criação de uma afiliação entre um usuário e o e-Commerce. '
      operationId: criaAfiliacao
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: objeto afiliacao serializado
          required: true
          schema:
            $ref: '#/definitions/Afiliacao'
      responses:
        201:
          description: 'Afiliacao criada com sucesso'
          schema:
            $ref: '#/definitions/Afiliacao'
        400:
          description: 'A requisição não pôde processada pelo servidor devido a um erro no cliente.'
          schema:
            $ref: '#/definitions/BadRequest'
        401:
          description: 'Usuário não autenticado para realizar a operação'
          schema:
            $ref: '#/definitions/Unauthorized'
        403:
          description: 'Usuário não possui permissão para criar uma afiliação'
          schema:
            $ref: '#/definitions/Forbidden'
        408:
          description: 'Tempo excedido'
          schema:
            $ref: '#/definitions/Timeout'
        429:
          description: 'Usuário submeteu muitas requisições em um intervalo de tempo'
          schema:
            $ref: '#/definitions/TooManyResquests'
        500:
          description: 'Erro inesperado'
          schema:
            $ref: '#/definitions/InternalServerError'
        503:
          description: 'Serviço indisponível'
          schema:
            $ref: '#/definitions/Unavailable'
  /afiliados/{id}:
    put:
      tags:
        - afiliados
      summary: Atualiza os cados cadastrais de um afiliado, baseado no id 
      description: 'Permite a alteraçao dos dados cadastrais de um afiliado já cadastrado no e-Commerce. '
      operationId: updateAfiliacao
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - in: body
          name: body
          description: objeto afiliacao serializado
          required: true
          schema:
            $ref: '#/definitions/Afiliacao'
      responses:
        200:
          description: 'Afiliacao criada com sucesso'
          schema:
            $ref: '#/definitions/Afiliacao'
        400:
          description: 'A requisição não pôde processada pelo servidor devido a um erro no cliente.'
          schema:
            $ref: '#/definitions/BadRequest'
        401:
          description: 'Usuário não autenticado para realizar a operação'
          schema:
            $ref: '#/definitions/Unauthorized'
        403:
          description: 'Usuário não possui permissão para criar uma afiliação'
          schema:
            $ref: '#/definitions/Forbidden'
        408:
          description: 'Tempo excedido'
          schema:
            $ref: '#/definitions/Timeout'
        429:
          description: 'Usuário submeteu muitas requisições em um intervalo de tempo'
          schema:
            $ref: '#/definitions/TooManyResquests'
        500:
          description: 'Erro inesperado'
          schema:
            $ref: '#/definitions/InternalServerError'
        503:
          description: 'Serviço indisponível'
          schema:
            $ref: '#/definitions/Unavailable'

############################################################################
#                               Definitions                                #
############################################################################
definitions:
  Produtos:
    type: object
    required:
      - nome
      - sku
      - emEstoque
      - preco
      - descricao
      - detalhes
    properties:
      nome:
        type: string
        description: 'Nome do produto'
        example: 'Samsung Book'
        minLength: 5
        maxLength: 255
      sku:
        type: string
        description: 'SKU do produto'
        example: 'MY-SKU-34521'
        minLength: 5
        maxLength: 255
      emEstoque:
        type: integer
        format: int32
        description: 'Quantidade de unidades do produto em estoque'
        example: 1000
      preco:
        type: number
        format: double
        description: 'Preço de uma unidade do produto (R$)'
        example: 3999.99
      descricao:
        type: string
        description: 'Descrição do produto'
        example: 'O notebook Samsung Book oferece uma variedade de portas, tais como: USB A, Micro SD, Kensington Lock, HDMI, USB-C®, LAN e Áudio (combo) que podem ser utilizadas para melhorar conectividade e produtividade.'
        minLength: 10
        maxLength: 10000
      detalhes:
        description: 'Detalhes técnicos do produto'
        type: array
        items:
          type: array
          items:
            type: string
            example: [
              'Memória RAM',
              '16Gb DDR4 2666MHz'
            ]
    xml:
      name: Produtos
  Afiliacao:
    type: object
    required:
      - nome
      - email
      - cpf
      - phone
      - endereco
      - categoria
    properties:
      nome:
        type: string
        description: 'Nome do afiliado'
        example: 'João Paulo'
        minLength: 5
        maxLength: 255
      razao_social:
        type: string
        description: 'A razão social da empresa'
        example: 'Minha Empresa LTDA'
        minLength: 5
        maxLength: 255
      responsavel:
        description: 'Nome do responsável pela afiliação. Não é necessariamente o afiliado.'
        example: 'Maria Paula'
        minLength: 5
        maxLength: 255
      email:
        description: 'Email do responsável pela afiliação'
        example: 'mariapaula@g.unicamp.br'
        minLength: 5
        maxLength: 100
      cpf:
        type: string
        description: 'CPF do responsável pela afiliação (com ou sem pontos e traços)'
        example: '111.222.333-44'
        minLength: 11
        maxLength: 14
      phone:
        type: array
        description: 'Telefones de contato do responsável pela afiliação. Vários números são permitidos (pessoal, comercial, celular)'
        items:
          type: string
          example: [
            '(11) 9 1234-5678',
            '(11) 1111-22222'
          ]
      endereco:
        type: array
        items:
          type: string
          example: [
            'Avenida Paulista, 1200, São Paulo',
            'Avenida Brigadeiro Faria Lima, 2300, São Paulo'
          ]
          minLength: 10
          maxLength: 255
      categoria:
        type: string
        description: 'Categoria na qual o afiliado se enquadra. E.g.: esportes, tecnologia, perfumes, saúde, etc.'
        example: 'Tecnologia'
        minLength: 10
        maxLength: 255
    xml:
      name: Afiliacao

############################################################################
#                                 Responses                                #
############################################################################
  BadRequest:
    type: object
    properties:
      error_message:
        type: string
        description: 'A requisição não pôde processada pelo servidor devido a um erro no cliente'
        example: 'A requisição não pôde processada pelo servidor devido a um erro no cliente'
      status:
        type: integer
        format: int32
        description: 'Código HTTP da requisição'
        example: 400
      timestamp:
        type: string
        description: 'Timestamp da execução da requisição'
        example: '2021-09-21T17:32:28Z'

  Unauthorized:
    type: object
    properties:
      error_message:
        type: string
        description: 'Usuário não autenticado para realizar a operação'
        example: 'Usuário não autenticado para realizar a operação'
      status:
        type: integer
        format: int32
        description: 'Código HTTP da requisição'
        example: 401
      timestamp:
        type: string
        description: 'Timestamp da execução da requisição'
        example: '2021-09-21T17:32:28Z'

  Forbidden:
    type: object
    properties:
      error_message:
        type: string
        description: 'Usuário não possui permissão para este recurso'
        example: 'Usuário não possui permissão para este recurso'
      status:
        type: integer
        format: int32
        description: 'Código HTTP da requisição'
        example: 403
      timestamp:
        type: string
        description: 'Timestamp da execução da requisição'
        example: '2021-09-21T17:32:28Z'

  Timeout:
    type: object
    properties:
      error_message:
        type: string
        description: 'Tempo excedido'
        example: 'Tempo excedido'
      status:
        type: integer
        format: int32
        description: 'Código HTTP da requisição'
        example: 408
      timestamp:
        type: string
        description: 'Timestamp da execução da requisição'
        example: '2021-09-21T17:32:28Z'

  TooManyResquests:
    type: object
    properties:
      error_message:
        type: string
        description: 'Usuário submeteu muitas requisições em um intervalo de tempo'
        example: 'Usuário submeteu muitas requisições em um intervalo de tempo'
      status:
        type: integer
        format: int32
        description: 'Código HTTP da requisição'
        example: 429
      timestamp:
        type: string
        description: 'Timestamp da execução da requisição'
        example: '2021-09-21T17:32:28Z'

  InternalServerError:
    type: object
    properties:
      error_message:
        type: string
        description: 'Erro inesperado'
        example: 'Erro inesperado'
      status:
        type: integer
        format: int32
        description: 'Código HTTP da requisição'
        example: 500
      timestamp:
        type: string
        description: 'Timestamp da execução da requisição'
        example: '2021-09-21T17:32:28Z'

  Unavailable:
    type: object
    properties:
      error_message:
        type: string
        description: 'Serviço indisponível'
        example: 'Serviço indisponível'
      status:
        type: integer
        format: int32
        description: 'Código HTTP da requisição'
        example: 503
      timestamp:
        type: string
        description: 'Timestamp da execução da requisição'
        example: '2021-09-21T17:32:28Z'

############################################################################
#                           Security Definitions                           #
############################################################################
securityDefinitions:
  api_key:
    type: apiKey
    name: api_key
    in: header
  petstore_auth:
    type: oauth2
    authorizationUrl: https://petstore.swagger.io/oauth/authorize
    flow: implicit
    scopes:
      read:pets: read your pets
      write:pets: modify pets in your account

############################################################################
#                              External Docs                               #
############################################################################
externalDocs:
  description: 'Ajuda'
  url: https://devportal.comprafacil.com.br/help